* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif ;
    color: #dfdfdf;
    line-height: 1.6;
    background: #1f2235;
}

h1, h2, h3, h4 {
    color: white;
    margin-bottom: 25px;
}

h1, h2 {
    font-size: 62px;
    font-weight: 700;
    line-height: 1.2;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: red;
    text-decoration: none;
}

section {
    padding: 100px 15px;
}

/* Header & Nav */

header {
    background: #1f2235;
    padding: 25px 40px;
    position: sticky;
    top: 0;
    z-index: 100;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
}

.logo strong {
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
}

.logo span {
color: red;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

header nav ul li a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

header nav ul li a:hover {
    color: red;
}


/* HERO SECTION */

#hero {
    background-color: #1f2235da;
    background-image: url("./goat.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;

}

#hero > div {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    max-width: 1150px;
    margin: 0 auto;

}

.left-side {
    flex: 1;
    padding-bottom: 40px;
}

/* Hero Social Icons*/

.hero-social {
    display: flex;
    gap: 15px;
    list-style: none;
    margin-bottom: 40px;
}

.hero-social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #ff4a57;
    border-radius: 50%;
    color: #ffffff;
}

.hero-social a:hover {
    background: #ff4a57;
}

#hero h1 {
    font-size: 62px;
    line-height: 1.2;
    margin-bottom: 20px;
}

#hero p {
    font-size: 20px;
    max-width: 500px;
    padding: 20px 5px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin-top: 35px;
}

.btn-portfolio {
    display: inline-block;
    border: 1px solid #ff4a57;
    color: #ffffff;
    padding: 14px 35px;
    border-radius: 100px;
}

.btn-portfolio:hover {
    background: #ff4a57;
}

.btn-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 45px;
    background: #ff4a57;
    color: #ffffff;
    border-radius: 100px;
}